{% extends 'base.html.twig' %}

{% block body %}

<h2 class="text-center">Liste des annonces</h2>
<hr>

<div class="row">
    <div class="col-xs-3">
        {{ form_start(form, {'attr': {'class': 'form'}}) }}
        <div class="container">
            <div class="row">
                <div class="col-xs-3">
                    <div class="input-group custom-search-form">
                        {{ form_widget(form.recherche, {'attr': {'class': 'form-control'}}) }}
                        <span class="input-group-btn">
                            <button class="btn btn-primary" type="submit" value="rechercher">
                                <span class="glyphicon glyphicon-search"></span>
                            </button>
                        </span>
                    </div>
                    <!-- /input-group -->
                    {{ form_widget(form.type, {'attr': {'class': 'form-control'}}) }}
                </div>
            </div>
        </div>
        {{ form_end(form) }}
    </div>
</div>

<br>
<ul class="">
    {% for annonce in annonces %}
    <div class="annonce">
        <ul class="list-unstyled">
            <li class="col-xs-4 col-xs-offset-4 text-center"><a href="/annonce/{{ annonce.id }}">{{ annonce.titre }}</a></li>
            <li class="col-xs-6 text-center">{{ annonce.nbPiece }} pièces</li>
            <li class="col-xs-6 text-center">{{ annonce.prix }} €</li>
        </ul>
    </div>
    {% endfor %}
</ul>

{% endblock %}
