{% extends 'base.html.twig' %}

{% block body %}

<h2 class="text-center">Liste des annonces</h2>
<hr>

<div class="row">
    <div class="col-xs-3">
        {{ form_start(form, {'attr': {'class': 'form'}}) }}
        <div class="container">
            <div class="row">
                <div class="col-xs-3 col-xs-offset-9">
                    <div class="input-group custom-search-form">
                        {{ form_widget(form.recherche, {'attr': {'class': 'form-control'}}) }}
                        <span class="input-group-btn">
                            <button class="btn btn-primary" type="submit" value="rechercher">
                                <span class="glyphicon glyphicon-search"></span>
                            </button>
                        </span>
                    </div>
                    <!-- /input-group -->
                    {{ form_widget(form.type, {'attr': {'class': 'form-control'}}) }}
                </div>
            </div>
        </div>
        {{ form_end(form) }}
    </div>
</div>
<br>
<ul class="">
    {% for annonce in annonces %}
        <div class="index-content">
            <div>
                <div class="card">
                    <ul class="list-unstyled">
                        <li class="col-xs-12 text-center"><h4><a href="/annonce/{{ annonce.id }}">{{ annonce.titre }}</a></h4></li>
                        <div class="row">
                            <li class="col-xs-6 text-center"><span class="blue-button">{{ annonce.nbPiece }} pièces</span></li>
                            <li class="col-xs-6 text-center"><span class="blue-button">{{ annonce.prix }} €</span></li>
                        </div>
                    </ul>
                </div>
            </div>
        </div>
    {% endfor %}
</ul>
<div class="text-center">{{ knp_pagination_render(annonces) }}</div>
{% endblock %}
